* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main > ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  color: red;
}
main > ul > li {
  padding: 20px 10px;
  background-color: grey;
}
main > ul > li a {
  color: white;
  font-size: 1.4rem;
}
main > ul > li a:hover {
  color: blue;
}

/* Proves amb Autoprefixer */
::placeholder {
  color: gray;
}

.image {
  background-image: url(image@1x.png);
}
@media (min-resolution: 2dppx) {
  .image {
    background-image: url(image@2x.png);
  }
}
