* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
}

main > ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  color: red;
  & > li {
    padding: 20px 10px;
    background-color: grey;
    a {
      color: white;
      font-size: 1.4rem;
      &:hover{
        color:blue;
      }
    }
  }
}
